# Backend
BEL_PORT=8082
BEL_TLS=0
BEL_TRUST_PROXY=0
BEL_ORIGINS=http://localhost:4321,http://0.0.0.0:4321
BEL_ALSA_DEVICE=hw:1,0

# Frontend dev server
BEL_BACKEND_URL=http://localhost:8082
BEL_FRONTEND_PORT=4321
BEL_FRONTEND_HOST=localhost

# Footer & Branding
BEL_POWERED_BY=ZEDLABS TEKNOLOGI INDONESIA
BEL_POWERED_BY_URL=https://zedlabs.id
BEL_SOCIAL_INSTAGRAM_URL=https://www.instagram.com/mtsn1_pandeglang
BEL_SOCIAL_YOUTUBE_URL=https://www.youtube.com/@mtsn1pandeglangofficial
BEL_UPLOAD_URL=https://galeri.mtsn1pandeglang.sch.id/s/unggah-dokumentasi
BEL_DEVELOPER_NAME=Yahya Zulfikri
BEL_DEVELOPER_URL=https://github.com/zulfikriyahya
BEL_DEVELOPER_INSTAGRAM_URL=https://www.instagram.com/zulfikriyahya_
BEL_DEVELOPER_LINKEDIN_URL=https://id.linkedin.com/in/zulfikriyahya/en
BEL_SCHOOL_NAME=MTsN 1 Pandeglang
BEL_SCHOOL_YEAR=2026
