# Backend
BEL_PORT=8082
BEL_TLS=0
BEL_TRUST_PROXY=0
BEL_ORIGINS=http://localhost:4321,http://0.0.0.0:4321
BEL_ALSA_DEVICE=hw:1,0

# Frontend dev server
BEL_BACKEND_URL=http://localhost:8082
BEL_FRONTEND_PORT=4321
BEL_FRONTEND_HOST=localhost
