---
import "../styles/global.css";
import App from "../components/App";
---

<!doctype html>
<html lang="id">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#0969da" />
    <link rel="manifest" href="/manifest.json" />
    <title>Hari Libur — Bel Madrasah</title>
  </head>
  <body>
    <App page="libur" client:only="react" />
  </body>
</html>
